In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
df=pd.read_csv('train.csv')

In [8]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [9]:
df['target']=df['target'].apply(pd.to_numeric)

In [11]:

import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Toshiba\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [13]:
df['text'].apply(text_process)

0       [Deeds, Reason, earthquake, May, ALLAH, Forgiv...
1           [Forest, fire, near, La, Ronge, Sask, Canada]
2       [residents, asked, shelter, place, notified, o...
3       [13000, people, receive, wildfires, evacuation...
4       [got, sent, photo, Ruby, Alaska, smoke, wildfi...
                              ...
7608    [Two, giant, cranes, holding, bridge, collapse...
7609    [ariaahrary, TheTawniest, control, wild, fires...
7610    [M194, 0104, UTC5km, Volcano, Hawaii, httptcoz...
7611    [Police, investigating, ebike, collided, car, ...
7612    [Latest, Homes, Razed, Northern, California, W...
Name: text, Length: 7613, dtype: object

In [14]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [15]:
df1=df.copy()

In [16]:
df1['text']=df['text'].apply(text_process)

In [17]:
df1.head()

,id,keyword,location,text,target
0,1,NaN,NaN,"[Deeds, Reason, earthquake, May, ALLAH, Forgiv...",1
1,4,NaN,NaN,"[Forest, fire, near, La, Ronge, Sask, Canada]",1
2,5,NaN,NaN,"[residents, asked, shelter, place, notified, o...",1
3,6,NaN,NaN,"[13000, people, receive, wildfires, evacuation...",1
4,7,NaN,NaN,"[got, sent, photo, Ruby, Alaska, smoke, wildfi...",1

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
# Might take awhile...
bow_transformer = CountVectorizer(analyzer=text_process).fit(df['text'])
messages_bow = bow_transformer.transform(df['text'])

In [19]:
bow_transformer

CountVectorizer(analyzer=<function text_process at 0x000002BA69458A68>,
                binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [20]:
bow_transformer1 = CountVectorizer(analyzer=text_process).fit(df1['text'])
messages_bow1 = bow_transformer.transform(df1['text'])

In [24]:
tfidf_transformer1 = TfidfTransformer().fit(messages_bow1)
messages_tfidf1 = tfidf_transformer1.transform(messages_bow1)

In [25]:
from sklearn import metrics

In [26]:
m=messages_bow.toarray()
n=messages_bow1.toarray()

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(m, df['target'], test_size=0.33, random_state=42)

In [23]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer().fit(messages_bow)
messages_tfidf = tfidf_transformer.transform(messages_bow)

In [29]:
m=messages_tfidf.toarray()
n=messages_tfidf1.toarray()

In [30]:
df1.shape

(7613, 5)

In [31]:
from sklearn.naive_bayes import MultinomialNB

In [32]:
df1=pd.read_csv('test.csv')

In [33]:
previous=0
for alpha in np.arange(0,1,0.1):
    sub=MultinomialNB(alpha=alpha)
    sub.fit(X_train,y_train)
    p=sub.predict(X_test)
    sc=metrics.accuracy_score(y_test,p)
    if sc>previous:
        classifier=sub
    print('alpha :{},score : {}'.format(alpha,sc))

E:\anaconda\lib\site-packages\sklearn\naive_bayes.py:507: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

alpha :0.0,score : 0.7393553521687226
alpha :0.1,score : 0.7624353362514923
alpha :0.2,score : 0.7668125746120175
alpha :0.30000000000000004,score : 0.7668125746120175
alpha :0.4,score : 0.7715877437325905
alpha :0.5,score : 0.7771587743732591
alpha :0.6000000000000001,score : 0.7791484281734978
alpha :0.7000000000000001,score : 0.7811380819737366
alpha :0.8,score : 0.7823318742538798
alpha :0.9,score : 0.7839235972940708

In [34]:
fits=MultinomialNB(alpha=0.9).fit(m,df['target'])

In [35]:
a=fits.predict(n)

In [36]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB(alpha=0.9)),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [37]:
pipeline.fit(df['text'],df['target'])

Pipeline(memory=None,
         steps=[('bow',
                 CountVectorizer(analyzer=<function text_process at 0x000002BA69458A68>,
                                 binary=False, decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('tfidf',
                 TfidfTransformer(norm='l2', smooth_idf=True,
                                  sublinear_tf=False, use_idf=True)),
                ('classifier',
                 MultinomialNB(alpha=0.9, class_prior=None, fit_prior=True))],
         verbose=False)

In [38]:
predictions = pipeline.predict(df1['text'])

In [39]:
df3=pd.DataFrame([df1['id'],predictions],index=['id','target'])

In [40]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262
id,0,2,3,9,11,12,21,22,27,29,...,10838,10845,10856,10857,10858,10861,10865,10868,10874,10875
target,1,1,1,1,1,1,0,0,0,0,...,1,1,1,0,1,0,1,1,1,1

In [41]:
df4=df3.transpose()

In [42]:
df4

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       0
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [44]:
df4.to_csv('submits.csv')